PORT=5000
DATABASE_URL="dbpostgresql://neondb_owner:<password>@ep-cool-mountain-an11g2zf-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
BETTER_AUTH_SECRET=random-better-auth-secret
BETTER_AUTH_URL=http://localhost:5000

BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
ENABLE_PAYMENT_CRON=true
ENABLE_NOTIFICATION_CRON=true

# mail service
MAIL_SERVICE=smtp
SMTP_PASS=smtp-password
SMTP_USER=smtp-username
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_FROM=SkillBridge <smtp-username>
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx
RESEND_FROM=SkillBridge <onboarding@resend.dev>
RESEND_REPLY_TO=reply@example.com

# cloudinaey credentials
CLOUDINARY_CLOUD_NAME=cloudinary-cloud-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret

# zoom credentials
ZOOM_ACCOUNT_ID=zoom-account-id
ZOOM_CLIENT_ID=zoom-client-id
ZOOM_CLIENT_SECRET=zoom-client-secret


# JWT secret key
JWT_SECRET=your-jwt-secret-key
